<div class="panel panel-defaul">
  <div class="panel-heading"><h2>Organizations</h2></div>
  <div class="panel-body">


<%if @organizations.any? %>
  <ul class="fa-ul">
    <% @organizations.each do |organization| %>
    <li><i class="fa fa-home"></i><a href="/organizations/<%= organization.id() %>"><%= organization.name() %> </a></li>
    <% end %>
  </ul>

<% else %>
    <p>There are no organizations yet!</p>
<% end %>
<a href="/organizations/new" class="btn btn-success">Add a new Organization!</a>
</div>
</div>
