<h2>Contributing Good Samaritans</h2>

<%if @samaritans.any? %>
<br>
	<ul>
		<% @samaritans.each do |samaritan| %>
		<li ><i class="fa fa-heart"></i> <a href="/samaritans/<%= samaritan.id() %>"><span class="list-left"><%= samaritan.name() %></span> </a> <a href="mailto:<%= samaritan.email() %>"><span class="list-right"><%= samaritan.email() %></span></a></li>
		<% end %>
	</ul>

<% else %>
		<p>There are no samaritans yet!</p>
<% end %>
<br>
<a href="/samaritans/new" class="btn-primary btn-lg raised">Submit a new Good Samaritan!</a>
