<div class="panel panel-defaul">
<div class="panel-body">
<a class="btn btn-success" href="/samaritans/<%= @samaritan.id() %>/ticket_new">Submit a sighting!</a>
<a class="btn btn-info" href="/samaritans/<%= @samaritan.id() %>/tickets_list">View and edit your sightings!</a>
</div>
</div>
