<h2>Submit a new ticket:</h2>

<form action="/samaritans/<%= @samaritan.id() %>" method="post">

  <label for="animal_type">Type of animal:  </label>
  <input type="text" name="animal_type" id="animal_type">

  <label for="description">Description of animal:  </label>
  <input type="text" name="description" id="description">

  <label for="location">Location:  </label>
  <input type="text" name="location" id="location">

  <label for="time">Time:  </label>
  <input type="text" name="time" id="time">

  <!-- id = "posession" -->
  <label for="posession">If you are currently in posession of the animal, plase check the box below:</label>
  <input type="checkbox" name="posession[]" value="true"> In posession<br>
  <input type="checkbox" name="posession[]" value="false" checked> Not in posession<br>

  <label for="sex">Sex:  </label>
  <input type="text" name="sex" id="sex">

  <label for="news">If you want to be kept up to date on what happens to the animal, please check the box below:</label>
  <input id = "news" type="checkbox" name="news[]" value="true"> Inform me!<br>
  <input id = "news" type="checkbox" name="news[]" value="false" checked> Don't inform me!<br>

  <button type="submit">Submit ticket!</button>
</form>
