<div class="panel panel-defaul">
<div class="panel-body">
<span class="col-md-12 text-center"><a class="btn btn-success" href="/samaritans/<%= @samaritan.id() %>/ticket_new">Submit a sighting!</a> 
<a class="btn btn-info" href="/samaritans/<%= @samaritan.id() %>/tickets_list">View and edit your sightings!</a></span>
</div>
</div>
