/***********************
-------Global--------
***********************/
body{
  padding-top:170px;
  background-image: url('http://images.fanpop.com/images/image_uploads/cuteness--dogs-248638_1024_768.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*ul {
  list-style-type: none;
}*/

#content{
   text-align:center;
   background-color:rgba(255,255,255,0.8);
   padding: 25px 50px;

}


.panel {
   background-color:rgba(255,255,255,0.8);
}

.panel-default > .panel-heading {
   background-color:rgba(255,255,255,0.7);
   text-align: center;
}

#content{
    text-align:center;
    background-color:rgba(255,255,255,0.8);
    padding: 25px 50px;
}




/***********************
--------Listings--------
***********************/
.list-left{
    position: fixed;
    left: 35%;
    margin-right:5rem;
}

.list-right{
    position: fixed;
    right: 35%;
}


/***********************
-------Navbar-Logo------
***********************/
.navbar-brand {
  float: left;
  height: 50px;
  width: 60px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 40px;
  background-image: url('http://www.nashvillewraps.com/images/large_stkno/ppc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
